*, :after, :before{
    box-sizing: border-box;
}
::root{
    font-size: 14px;
}
.html{
    font-size: 1rem;
    font-family: 'Lato', Arial,  sans-serif;
}
.header{
    max-width: 1400px;
    width: 100%;
    /* height: 1300px; */
    /* height: 1280px; */
}
.header-image{
    background-image: url("./img/BG-Header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* background-attachment: fixed; */
}
.wrapper{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    min-width: 360px;
}
.content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 754px; */
    /* max-height: 762px; */
}
.header__logo{
    margin-top: 3em;
    margin-bottom: 2.9em;
}
.header__promo{
    color: #ffffff;
}
.header__title{
    text-transform: uppercase;
    font-size: 2.42em;
    font-weight: 900;
    letter-spacing: 5.43px;
    text-align: center;
}
.header__text{
    font-size: 1.85em;
    font-weight: 400;
    letter-spacing: 4.15px;
    text-align: center;
}
.header__line{
    margin-top: 2em;
}
.header__button{
    text-decoration: none;
    color: #ffffff;
    margin-top:3em;
}
.btn{
    text-transform: uppercase;
    letter-spacing: 0.67px;
    font-size: 1.14em;
    min-width: 182px;
    min-height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__button{
    border: 1px solid #ffffff;
}
.header__down{
    margin-top:4em;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.main-menu{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-left: 11.4em;
    padding-right: 7.85em;
    padding-top: 1.57em;
    padding-bottom: 1.71em;
}
.menu__link{
    color: #3c3c3c;
    text-decoration: none;
    
    margin-right: 3em;
    font-size: 1.07em;
    font-weight: 400;
    text-transform: uppercase;
}
.menu__link:last-child{
    margin-right: 0;
}
.menu__link--active{
    color: #ada074;
    font-weight: 700;
}
.menu__link:hover{
    color: #ada074;
    font-weight: 700;
}
.about{
    /* max-width: 823px; */
    padding: 6.42em 11.4em 6.78em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.42em;
}
.about_title{
    letter-spacing: 8.95px;
}
.line{
    margin-top: 2.14em 0;
}
.about__description{
    color: #868585;
    font-weight: 300;
    line-height: 1.84em;
    text-align: center;
}
.about__list{
    margin-top: 4.92em;
    list-style: none;
    padding: 0;
    display: flex;
}
.about__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about__image{
    width: 92px;
    height: 92px;
    border: 1px solid #eae7dc;
    border-radius: 50%;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
.about__header{
    padding-top: 2.92em;
    padding-bottom: 2.5em;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 1.57em;
}
.about__text{
    color: #868585;
    line-height: 1.85em;
}
.portfolio{
    max-height: 1671px;
    background-color: #f3f3f3;
        
}
.portfolio__title{
    text-align:center;
    padding-top: 3.72em;
    letter-spacing: 5.43px;
}
.portfolio__line{
    text-align: center;
}
.portfolio__list{
    padding: 1em 0 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.portfolio__link{
    text-decoration: none;
    margin-right: 2.85em;
}
.portfolio__link:last-child{
    margin: 0;
}
.portfolio__item{
    text-transform: uppercase;
    color: #3c3c3c;
}
.portfolio__link--active{
    color: #ada074;
    font-weight: 700;
}
.portfolio__link:hover{
    color: #ada074;
    font-weight: 700;
}
.portfolio-examples{
    padding-left: 0;
    padding-top: 7em;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.portfolio-examples__item{
    width: 535px;
    height: 365px;
    padding-right: 1.7em;
    padding-bottom: 1.14em;
}
.portfolio__back{
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
}
.portfolio-examples__item:nth-child(2n){
    padding-right: 0;
}
.portfolio-button{
    text-decoration: none;
    border: 1px solid #969696;
    color: #969696;
    margin-bottom: 4.42em;
}
.partners{
    background-image: url('./img/partners.jpg');
    max-height: 394px;
    background-size: cover;
    background-position: center;
}
.partners__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.partners__title{
    color: #ffffff;
    font-size: 2.14em;
    text-transform: uppercase;
    padding-top: 1.1em;
    letter-spacing: 1.8px;
    padding-bottom: 2em;
}
.partners__list{
    list-style: none;
    max-width: 584px;
    padding: 0;
    margin: 0;
    display: flex;
    
}
