*, :after, :before{
    box-sizing: border-box;
}
::root{
    font-size: 14px;
}
.html{
    font-size: 1rem;
    font-family: 'Lato', Arial,  sans-serif;
}
.header{
    max-width: 1400px;
    width: 100%;
    /* height: 1300px; */
    /* height: 1280px; */
}
.header-image{
    background-image: url("./img/BG-Header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* background-attachment: fixed; */
}
.wrapper{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 754px; */
    /* max-height: 762px; */
}
.header__logo{
    margin-top: 3em;
    margin-bottom: 2.9em;
}
.header__promo{
    color: #ffffff;
}
.header__title{
    text-transform: uppercase;
    font-size: 2.42em;
    font-weight: 900;
    /* line-height: 2.85em; */
    letter-spacing: 5.43px;
    text-align: center;
}
.header__text{
    font-size: 1.85em;
    font-weight: 400;
    letter-spacing: 4.15px;
    text-align: center;
}
.header__line{
    margin-top: 2em;
}
.header__button{
    text-decoration: none;
    color: #ffffff;
    margin-top:3em;
}
.btn{
    text-transform: uppercase;
    letter-spacing: 0.67px;
    font-size: 1.14em;
    min-width: 182px;
    min-height: 47px;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__down{
    margin-top:4em;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menu__link{
    color: #3c3c3c;
    text-decoration: none;
    padding-top: 1.57em;
    padding-bottom: 1.71em;
    margin-left: 3em;
    font-size: 1.07em;
    font-weight: 400;
    text-transform: uppercase;
}
.menu__link--active{
    color: #ada074;
    font-weight: 700;
}
.menu__link:hover{
    color: #ada074;
    font-weight: 700;
}
